name: SSHX Session

on:
  workflow_dispatch:

jobs:
  sshx:
    runs-on: ubuntu-latest
    steps:
      - name: Install sshx
        run: |
          curl -fsSL https://sshx.io/install.sh | sh

      - name: Start sshx
        run: |
          sshx

